<a href="https://colab.research.google.com/github/Parkseoho/codingtest/blob/main/%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8/3_%EC%A0%95%EB%A0%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. 선택 정렬
### 가장 작은 것을 선택한다는 선택 정렬 알고리즘

In [3]:
array = [5,7,9,0,3,1,6,2,4,8]

for i in range(len(array)):
  min_index= i
  for s in range(i+1,len(array)):
    if array[min_index] > array[s]:
      array[min_index] , array[s] = array[s], array[min_index]

In [4]:
array

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 2. 삽입정렬
### 삽입정렬은 특정한 데이터를 적절한 위치에 삽입한다는 의미, 더불어 삽입 정렬은 특정한 데이터가 적절한 위치에 들어가기 이전에, 그 앞까지의 데이터는 이미 정렬 되어있다고 가정

In [9]:
array = [5,7,9,0,3,1,6,2,4,8]

for i in range(len(array)):
  for s in range(i,0,-1):
    if array[s] < array[s-1]:  # 한 칸씩 왼쪽으로 이동
      array[s-1], array[s] = array[s], array[s-1]
    else:
      break

In [10]:
array

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 3. 퀵정렬

In [11]:
array = [5,7,9,0,3,1,6,2,4,8]

def quick_sort(array):
  if len(array) <=1:
    return array

  pivot = array[0]
  tail = array[1:]

  left_side = [x for x in tail if x <=pivot]
  right_side = [x for x in tail if x>pivot]

  return quick_sort(left_side) + [pivot] + quick_sort(right_side)
print(quick_sort(array))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 4. 계수 정렬

In [12]:
array  = [7,5,9,0,3,1,6,2,9,1,4,8,0,5,2]
count = [0] * (max(array)+1)

for i in range(len(array)):
  count[array[i]] +=1
for i in range(len(count)):
  for j in range(count[i]):
    print(i, end=' ')

0 0 1 1 2 2 3 4 5 5 6 7 8 9 9

## 실전 문제 1. 위에서 아래로
### 하나의 수열에 다양한 수가 존재, 이 수를 큰 수부터 작은 수의 순서로 정렬해야 한다.
###수열을 내림차순으로 정렬하는 프로그램 생성

In [13]:
n = int(input())
array = []
for i in range(n):
  array.append(int(input()))
array = sorted(array,reverse = True)
for i in array:
  print(i, end= ' ')

3
15
27
12
27 15 12

## 실전 문제 2. 성적이 낮은 순서로 학생 출력
### N명의 학생 정보가 있다. 각 학생의 이름과 성적 정보가 주어졌을 때,
### 성적이 낮은 순서대로 학생의 이름을 출력하는 프로그램 작성

In [15]:
n = int(input())
array = []
for i in range(n):
  input_data = input().split()
  array.append((input_data[0],int(input_data[1])))

array  = sorted(array, key = lambda a: a[1])
for student in array:
  print(student[0],end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

## 실전문제 3. 두 배열의 원소 교체
### 동빈이는 두 개의 배열 A와 B를 가지고 있다.
### 동빈이는 최대 K번의 바꿔치기 연산을 수행할 수 있는데, 바꿔치기 연산이란 배열 A에 있는 원소 하나와 배열 B에 있는 원소 하나를 골라서 두 원소를 서로 바꾸는 것을 말한다.

### 최종 목표는 배열 A의 모든 원소의 합이 최대가 되도록 하는 것이다

In [16]:
n,k = map(int, input().split())
a = list(map(int, input().split()))
b = list(map(int, input().split()))

a.sort()
b.sort(reverse=True)

for i in range(k):
  if a[i] < b[i]:
    a[i] , b[i] = b[i], a[i]
  else:
    break

sum(a)

5 3
1 2 5 4 3
5 5 6 6 5

26